packages:
  yum:
    certbot: []

container_commands:
  10_install_certbot:
    command: "sudo yum install -y certbot python3-certbot-nginx"
  20_get_certificate:
    command: "sudo certbot certonly --nginx --non-interactive --agree-tos --email mortazahassa@umass.edu -d strollpath.tech -d www.strollpath.tech"
    ignoreErrors: true
  30_setup_renewal:
    command: 'echo "0 3 * * * root certbot renew --quiet --post-hook \"systemctl reload nginx\"" | sudo tee /etc/cron.d/certbot_renew'
  40_reload_nginx:
    command: "sudo systemctl reload nginx"
